@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Play:wght@400;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.mobile-menu-button {
  display: none;
}

.desktop-menu-button {
  display: flex;
}

@media (max-width: 768px) {
  .desktop-menu-button {
    display: none;
  }

  .mobile-menu-button {
    display: flex;
  }
}
